<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDyJtAYXseH7JBOTYXPJmed2RgoDYTuZsc</string>
	<key>GCM_SENDER_ID</key>
	<string>988357933999</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vijay.transportApp</string>
	<key>PROJECT_ID</key>
	<string>viet-commute</string>
	<key>STORAGE_BUCKET</key>
	<string>viet-commute.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:988357933999:ios:ddf6e4059fcd1eb77fcd5a</string>
</dict>
</plist>